@model TheGioiLoa.Models.ChangePasswordViewModel

<div id="rightCard" data-partial="_ChangePasswordPartial"></div>
<h4 class="mb-4">Thay đổi mật khẩu</h4>

@using (Ajax.BeginForm("ChangePassword", "Manage", FormMethod.Post, new AjaxOptions
{
    OnBegin = "LoadingGifRightCard",
    OnSuccess = "UpdateInformationNoti"
}))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger small" })
    </div>
    <div class="form-group">
        <label for="NewPassword" class="control-label">Mật khẩu mới (Từ 6 ký tự, gồm ít nhất 1 chữ in hoa, 1 ký tự đặc biệt)</label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger small" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger small" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Cập Nhật</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}