@model IEnumerable<TheGioiLoa.Models.OrderDetails>

@if (Model != null)
{
    <div class="modal-header border-0">
        <h4 class="modal-title" id="titleModal">Chi tiết đơn hàng: @Model.FirstOrDefault().OrderId</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 50px;" class="text-center">
                        <i class="fas fa-image"></i>
                    </th>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th class="text-right">
                        Đơn giá
                    </th>
                    <th class="text-center">
                        Số lượng
                    </th>
                    <th class="text-right">
                        Tổng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center align-middle">
                            <img class="" src="../Content/Upload/Images/@(item.Product.ImageId==null?"no_picture.jpg":item.Product.ImageId)" height="40" width="40">
                        </td>
                        <td class="align-middle">
                            <a href="~/cua-hang/san-pham/@item.ProductId/@item.Product.Url">@item.Product.Name</a>
                        </td>
                        <td class="text-right align-middle">
                            @if (item.SalePrice != null)
                            {
                                <span>@string.Format("{0:0,0 ₫}", item.SalePrice)</span><br />
                                <del>@string.Format("{0:0,0 ₫}", item.Price)</del>
                            }
                            else
                            {
                                <span>@string.Format("{0:0,0 ₫}", item.Price)</span>
                            }
                        </td>
                        <td class="text-center align-middle">
                            @item.Count
                        </td>
                        <td class="text-right align-middle">
                            @string.Format("{0:0,0 ₫}", item.TotalPrice)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="form-group text-right">
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Thoát</button>
        </div>
    </div>
}
else
{
    <p class="text-center text-danger mt-4">Có lỗi xảy ra. Vui lòng thử lại</p>
}