@model TheGioiLoa.Models.UserDetailsViewModel
@{
    ViewBag.Title = "Tài Khoản";
}


<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="avatar">
                            <img class="avt-img" src="~/Content/Home/img/avt-gentleman.png" width="60" height="60" />
                        </div>
                        <div class="user-full-name ml-3 mt-2">
                            <p class="mb-1">Xin chào,</p>
                            <p class="font-weight-500">@Model.User.FullName</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="avatar">
                            <img class="avt-img" src="~/Content/Home/img/avt-gentleman.png" width="60" height="60" />
                        </div>
                        <div class="user-full-name ml-3 mt-2">
                            <p class="mb-1">Xin chào,</p>
                            <p class="font-weight-500">@Model.User.FullName</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            a
        </div>
    </div>
</div>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
          
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")

                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <p>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</p>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <p>[<input type="submit" value="Remove" class="btn-link" />]</p>
                    }
                }
                else
                {
                    <p>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")]</p>
                }
            </dd>
        
        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
