@using TheGioiLoa.Models
@model TheGioiLoa.Models.Order
@{
    ViewBag.Title = "Thông Tin Đặt Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var totalPrice = ShoppingCart.Cart.TotalPrice;
    var totalPriceSale = ShoppingCart.Cart.TotalPriceSale;
}
<div class="container mb-4">
    <div class="top-checkout row">
        <div class="top-checkout-list col-md-4 d-none d-md-inline">
            <p><i class="number">1</i>Giỏ hàng của bạn</p>
        </div>
        <div class="top-checkout-list col-md-4 col-12  active">
            <p><i class="number">2</i>Thông tin & Thanh toán</p>
        </div>
        <div class="top-checkout-list col-md-4 d-none d-md-inline">
            <p id="nk-hoan-tat-don-hang"><i class="number">3</i>Hoàn tất đơn hàng</p>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.UserId)
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-8 col-md-8 col-lg-8 col-lg-8 col-xs-12">
                <div class="card card-shadow cart-information">
                    <div class="card-body cart-content" id="cartInformation" data-value="step2">
                        <h5 class="card-title">Thông tin đặt hàng</h5>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên *" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại *" } })
                                @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email của bạn *" } })
                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 mb-3">
                                @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ *" } })
                                @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 mb-3">
                                @Html.TextAreaFor(model => model.Note, new { @class = "form-control w-100", @rows = "6", @placeholder = "Ghi chú thêm cho đơn hàng" })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-4 col-lg-4 col-md-4 col-xs-12">
                <div class="card card-shadow mb-4">
                    <div class="card-body box-payment">
                        @Html.Action("LoadCartTotal","Cart")
                    </div>
                </div>
                <div class="cart-continue mb-4 text-right">
                    <button type="submit" class="btn btn-success btn-block h4 py-3" style="font-size: 1.2rem">HOÀN TẤT ĐƠN HÀNG<i class="fas fa-arrow-circle-right ml-3"></i></button>
                </div>
                <div class="card card-shadow">
                    <div class="card-header bg-white p-0" id="headingOne">
                        <h5 class="mb-0">
                            <a href="#promotion" class="btn btn-link btn-block text-left py-3 text-dark px-4" data-toggle="collapse">
                                Bạn có mã giảm giá? Click vào đây!
                            </a>
                        </h5>
                    </div>
                    <div id="promotion" class="collapse">
                        <div class="card-body">
                            <p>Hiện chưa có chương trình giảm giá</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section heads {
    <style type="text/css">
        body {
            background: #f3f5f7;
        }
    </style>
}