@model TheGioiLoa.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Đặt Hàng Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-4">
    <div class="top-checkout row">
        <div class="top-checkout-list col-md-4 d-none d-md-inline">
            <p><i class="number">1</i>Giỏ hàng của bạn</p>
        </div>
        <div class="top-checkout-list col-md-4 d-none d-md-inline">
            <p><i class="number">2</i>Thông tin & Thanh toán</p>
        </div>
        <div class="top-checkout-list col-md-4 col-12 active">
            <p id="nk-hoan-tat-don-hang"><i class="number">3</i>Hoàn tất đơn hàng</p>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-lg-8 col-xs-12">
            <div class="card card-shadow cart-information">
                <div class="card-body cart-content" id="cartInformation" data-value="step2">
                    <h5 class="card-title">Thông tin đặt hàng!</h5>
                    <h6 class="mt-2">Mã đơn hàng của bạn là: <strong class="text-primary"> @Model.Order.OrderId</strong></h6>
                    <hr />

                    <p class="mb-1 text-success">Đơn hàng của quý khách đã được ghi nhận!</p>
                    <p class="font-italic">Trong vòng 30 phút (giờ làm việc) bộ phận khách hàng sẽ liên hệ với quý khách để xác nhận đơn hàng, thời gian, địa điểm giao hàng</p>
                    <hr />
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="mb-1">Tên khách hàng: <span class="text-primary">@Model.Order.UserName</span></p>
                            <p class="mb-1">Số điện thoại: <span class="text-success">@Model.Order.UserPhone</span></p>
                            <p class="mb-1">Địa chỉ: <span class="text-success">@Model.Order.UserAddress</span></p>
                            <p>Thời gian đặt hàng: <span class="text-success">@Model.Order.DateCreated</span></p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p>Ghi chú: <span class="text-success">@Model.Order.Note</span></p>
                        </div>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var i = 1; @*double totalPrice = 0; double totalSalePrice = 0;*@ }
                            @foreach (var item in Model.OrderDetails)
                            {
                                <tr>
                                    <th>@i</th>
                                    <td>
                                        @item.Product.Name
                                        @if (item.Guarantee != 0)
                                        {
                                            <i class="fas fa-exclamation-circle ml-2" data-toggle="tooltip" title="Bảo hành: @item.Guarantee tháng"></i>
                                        }
                                    </td>
                                    <td>@item.Count</td>
                                    <td>
                                        @if (item.PriceSale != null)
                                        {
                                            <span>@string.Format("{0:0,0 ₫}", item.PriceSale)</span><br />
                                            <del class="small font-italic"> @(item.PriceSale != item.Price ? string.Format("{0:0,0 ₫}", item.Price) : "")</del>
                                        }
                                        else
                                        {
                                            <span>@string.Format("{0:0,0 ₫}", item.Price)</span>
                                        }
                                    </td>
                                    <td>@string.Format("{0:0,0 ₫}", item.PriceSale * item.Count)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-4 col-lg-4 col-md-4 col-xs-12">
            <div class="card card-shadow mb-4">

                <div class="card-body box-payment">
                    <h5 class="text-primary">ĐẶT HÀNG THÀNH CÔNG</h5>
                    <hr />
                    <div class="clearfix">
                        <p class="float-left mb-0">Giá trị hàng:</p>
                        <p class="float-right mb-0">@string.Format("{0:0,0 ₫}", Model.TotalPrice)</p>
                    </div>
                    <hr class="my-1" />
                    <div class="clearfix">
                        <p class="float-left mb-0">Giảm giá:</p>
                        <p class="float-right mb-0">@string.Format("{0:0,0 ₫}", Model.TotalPrice - Model.TotalSalePrice)</p>
                    </div>
                    <hr class="my-1" />
                    <div class="clearfix">
                        <p class="float-left mb-0">Phí giao hàng:</p>
                        <p class="float-right mb-0">0</p>
                    </div>
                    <hr class="my-1" />
                    <div class="clearfix">
                        <p class="float-left mb-0 font-weight-bold">TỔNG:</p>
                        <p class="float-right mb-0 font-weight-500">@string.Format("{0:0,0 ₫}", Model.TotalSalePrice)</p>
                    </div>
                    <hr class="my-2" />
                    <div class="clearfix">
                        <p class="float-left mb-0 font-weight-bold">Hình thức thanh toán:</p>
                        <p class="float-right mb-0 font-weight-500">Thanh toán khi nhận hàng</p>
                    </div>
                </div>
            </div>
            <div class="cart-continue mb-4 text-right">
                <a href="~/" class="btn btn-success btn-block h4 py-3" style="font-size: 1.2rem">TIẾP TỤC MUA SẮM<i class="fas fa-arrow-circle-right ml-3"></i></a>

            </div>
        </div>
    </div>
</div>

@section heads {
    <style type="text/css">
        body {
            background: #f3f5f7;
        }
    </style>
}