@{
    ViewBag.Title = "Bài viết Tin Tức";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";

}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header clearfix">
                <a href="@Url.Action("CreateBlog","Admin")" class="btn btn-success">Tạo bài viết mới</a>
                <div class="float-right">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar bg-light" style="border-color: #e3e3e3;" type="search" placeholder="Tìm Kiếm" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar bg-light" style="border-color:#e3e3e3" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>
                                Tên bài viết
                            </th>
                            <th>
                                Chuyên Mục
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="blogList">
                        @Html.Action("LoadBlogList")
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tạo chuyên mục</h3>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("CreateBlogCategory", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "loadingSpinner('#loadingGif-CreateBlogCategory')",
                    OnSuccess = "actionBlogCategorySuccess",
                    OnComplete = "exitSpinner('#loadingGif-CreateBlogCategory')"
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm" required name="blogCategoryName" id="blogCategoryName">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-info btn-block">Tạo Mới</button>
                        </div>
                    </div>
                }
            </div>
            <div id="loadingGif-CreateBlogCategory" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách chuyên mục</h3>
            </div>
            <div class="card-body" id="blogCategory">
                @Html.Action("LoadBlogCategory")
            </div>
            <div id="loadingGif-BlogCategoryList" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admin/blog")
}