@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TheGioiLoa.Models.Blog>
@{
    ViewBag.Title = "Bài viết Tin Tức";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";

}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header clearfix">
                <a href="@Url.Action("CreateBlog","Admin")" class="btn btn-success">Tạo bài viết mới</a>
                <div class="float-right">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar bg-light" style="border-color: #e3e3e3;" type="search" placeholder="Tìm Kiếm" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar bg-light" style="border-color:#e3e3e3" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
                @if (Model.Count != 0)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Tên bài viết
                                </th>
                                <th>
                                    Chuyên Mục
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody id="blogList">
                            @foreach (var item in Model)
                            {
                                <tr id="blog_@item.BlogId">
                                    <td>
                                        <a href="@Url.Action("EditBlog", "Admin", new { blogId = item.BlogId })" class="text-dark">
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </a>
                                    </td>
                                    <td>
                                        @(item.BlogCategory != null ? item.BlogCategory.Name : "Chưa phân loại")
                                    </td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <span class="badge badge-success">Đã đăng</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Chưa đăng</span>
                                        }
                                    </td>
                                    <td>
                                        <a class="" href="~/tin-tuc/chi-tiet/@item.BlogId/@item.Url" data-toggle="tooltip" title="Xem">
                                            <i class="fas fa-eye text-info">
                                            </i>
                                        </a>
                                        <a class="ml-2" href="@Url.Action("EditBlog", "Admin", new { blogId = item.BlogId })" data-toggle="tooltip" title="Sửa">
                                            <i class="fas fa-pencil-alt text-warning">
                                            </i>
                                        </a>
                                        <button type="button" class="ml-1 bg-transparent border-0 delete-blog" data-id="@item.BlogId" data-name="@item.Title" data-toggle="tooltip" title="Xóa">
                                            <i class="fas fa-trash text-danger">
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="text-right px-4">
                        @Html.PagedListPager(Model, indexPage => Url.Action("ProductList", new { page = indexPage }))
                    </div>
                }
                else
                {
                    <div class="py-2 w-100 position-absolute bg-white rounded-bottom">
                        <p class="text-danger text-center">Chưa có bài viết nào</p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tạo chuyên mục</h3>
            </div>
            <div class="card-body">
                @using (Ajax.BeginForm("CreateBlogCategory", new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "loadingSpinner('#loadingGif-CreateBlogCategory')",
                    OnSuccess = "actionBlogCategorySuccess",
                    OnComplete = "exitSpinner('#loadingGif-CreateBlogCategory')"
                }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm" required name="blogCategoryName" id="blogCategoryName">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-info btn-block">Tạo Mới</button>
                        </div>
                    </div>
                }
            </div>
            <div id="loadingGif-CreateBlogCategory" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh sách chuyên mục</h3>
            </div>
            <div class="card-body" id="blogCategory">
                @Html.Action("LoadBlogCategory")
            </div>
            <div id="loadingGif-BlogCategoryList" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admin/blog")
}