@model TheGioiLoa.Models.Category
@{

    ViewBag.Title = "Chuyên Mục Sản Phẩm";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="row" id="adminPage">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tạo danh mục sản phẩm</h3>
            </div>
            @using (Ajax.BeginForm("CreateCategory", new AjaxOptions
            {
                HttpMethod = "POST",
                OnBegin = "loadingSpinner('#loadingGif-CreateCategory')",
                OnSuccess = "createOrEditCategorySuccess",
                OnComplete = "exitSpinner('#loadingGif-CreateCategory')"
            }))
            {
                <div class="card-body">
                    <div class="form-group row align-items-center">
                        <label for="Name" class="col-md-3">Tên Danh Mục</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-sm", @placeholder = "Nhập tên danh mục" })
                        </div>
                    </div>
                    <div class="form-group row align-items-center" id="categoryParentCreate">
                        <label for="CategoryParentId" class="col-md-3">Thuộc danh mục gốc?</label>
                        <div class="col-md-9">
                            <select name="CategoryParentId" id="CategoryParentId" class="form-control form-control-sm">
                                @Html.Action("LoadCategorySelect")
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-success">Tạo Chuyên Mục</button>
                        </div>
                    </div>
                </div>
            }
            <div id="loadingGif-CreateCategory" class="spinner-loading" style="display: none;">
                <img src="/Content/Spinner.png" alt="Loading...">
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Danh Mục Sản Phẩm</h3>
            </div>
            <div class="card-body" id="categoryList">
                @Html.Action("LoadCategoryList")
            </div>
            <div id="loadingGif-CategoryList" class="spinner-loading" style="display: none;">
                <img src="/Content/Spinner.png" alt="Loading...">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admin/category")
}
