@model TheGioiLoa.Models.ViewModel.CreateProductViewModel

@{
    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
@using (Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-danger">@ViewBag.NotiPrice</p>
    <div class="row" id="adminPage">
        <div class="col-md-9">
            <div class="form-group mb-2 mt-0">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control rounded-0", @placeholder = "Tên sản phẩm", @required="required" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger mt-2" })
            </div>

            @*Mô tả ngắn*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Mô tả ngắn</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Description, new { @class = "textarea", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Dữ liệu sản phẩm</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.BrandId, new { @class = "col-md-2 col-form-label-sm" })
                        <div class="col-md-10">
                            <select name="BrandId" id="BrandId" class="form-control form-control-sm">
                                <option value="">-- Không có thương hiệu --</option>
                                @if (ViewBag.BrandId != null)
                                {
                                    foreach (var item in ViewBag.BrandId)
                                    {
                                        <option value="@item.BrandId">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Price, new { @class = "col-md-4 col-form-label-sm" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.PriceSale, new { @class = "col-md-4 col-form-label-sm text-md-right" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.PriceSale, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Đặc điểm nổi bật*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Đặc điểm nổi bật</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Characteristics, new { @class = "textarea", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            @*Thông số kỹ thuật*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thông số kỹ thuật</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Details, new { @class = "textarea", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            @* Khuyến Mãi *@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Khuyến mãi</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Promotion, new { @class = "textarea", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            @* Videos *@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Video</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Videos, new { @class = "col-md-2 col-form-label-sm" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Videos, new { @placeholder = "Dán link Youtube vào đây ...", @class = "form-control form-control-sm" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">

            @*Submit Form Card*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Đăng</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <select name="Status" id="Status" class="form-control form-control-sm rounded-0 col-md-8">
                            <option value="1" checked>Công bố</option>
                            <option value="2">Chưa đăng</option>
                            <option value="3">Hết hàng</option>
                            <option value="4">Đưa vào thùng rác</option>
                        </select>
                        <div class="col-md-4">
                            <button type="submit" id="submitFormButton" class="btn btn-primary btn-flat btn-sm btn-block">Đăng</button>
                        </div>
                        <div class="col-md-12 d-none" id="deleteNoti">
                            <p class="my-2 small font-italic text-danger">Lưu ý: Những thay đổi của bạn sẽ không được lưu!</p>
                        </div>
                    </div>
                </div>
            </div>

            @*Danh Mục Sản Phẩm*@
            <div class="card" id="createProduct">
                <div class="card-header">
                    <h3 class="card-title">Danh Mục Sản Phẩm</h3>
                </div>
                <div class="card-body" id="categoryList">
                    @if (ViewBag.CategoryId != null)
                    {
                        foreach (var item in ViewBag.CategoryId)
                        {
                            if (item.CategoryParentId == null)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input category-click" data-level="parent" type="checkbox" id="@item.CategoryId" value="@item.CategoryId" name="CategoryId">
                                    <label for="@item.CategoryId" class="custom-control-label font-weight-normal">@item.Name</label>
                                </div>

                                <div class="parentCategory-@item.CategoryId" style="display: block;">
                                    @foreach (var child in ViewBag.CategoryId)
                                    {
                                        if (child.CategoryParentId == item.CategoryId)
                                        {
                                            <div class="">
                                                <div class="custom-control custom-checkbox ml-4">
                                                    <input class="custom-control-input category-click child-category" data-level="child" data-parent-id="@item.CategoryId" type="checkbox" id="@child.CategoryId" value="@child.CategoryId" name="CategoryId">
                                                    <label for="@child.CategoryId" class="custom-control-label font-weight-normal">@child.Name</label>
                                                </div>
                                            </div>
                                            <div class="pl-4 childCategory-@child.CategoryId">
                                                @foreach (var subChild in ViewBag.CategoryId)
                                                {
                                                    if (subChild.CategoryParentId == child.CategoryId)
                                                    {
                                                        <div class="custom-control custom-checkbox ml-4">
                                                            <input class="custom-control-input category-click sub-child-category" data-level="subChild" data-parent-id="@child.CategoryId" type="checkbox" id="@subChild.CategoryId" value="@subChild.CategoryId" name="CategoryId">
                                                            <label for="@subChild.CategoryId" class="custom-control-label font-weight-normal">@subChild.Name</label>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }

                                </div>
                            }
                        }
                    }
                </div>
            </div>

            @*Bảo hành sản phẩm*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bảo hành</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Thời gian bảo hành</label>
                        <select class="form-control form-control-sm rounded-0" name="Guarantee" id="Guarantee">
                            @for (int i = 1; i <= 72; i++)
                            {
                                <option value="@i">@i tháng</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            @*Tag Sản Phẩm*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Từ khóa sản phẩm (Tag)</h3>
                </div>
                <div class="card-body">
                    <div class="input-group input-group-sm">
                        @Html.HiddenFor(model => model.Tag)
                        <input type="text" id="AddTag" name="AddTag" class="form-control rounded-0">
                        <span class="input-group-append">
                            <button type="button" class="btn btn-info btn-flat rounded-0" id="addTag">Thêm Tag</button>
                        </span>
                    </div>
                    <p class="my-2 font-italic small">Phân cách các thẻ bằng dấu phẩy</p>
                    <div class="tag-area row px-2" id="renderTag">

                    </div>
                </div>
            </div>


            @*Ảnh Sản Phẩm*@
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="card-title">Album hình ảnh sản phẩm</h3>
                </div>
                <div class="card-body">

                    <div class="preview-image w-100">
                        <img id="previewCover" src="~/Content/Upload/Images/No_Picture.jpg" style="width: 100%; height: auto;" />
                        <div class="position-absolute d-none" id="removeCover" style="top: 5px; right:10px">
                            <a href="#" class="text-primary" data-toggle="tooltip" title="Xóa hình cover" style="font-size: 19px"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>

                    <input type="file" hidden id="Cover" name="Cover" />
                    <label for="Cover" class="btn btn-primary btn-flat mt-3 btn-block">Chọn Hình Cover</label>
                    <p class="my-2 font-italic small text-center">Hình này sẽ làm hình ảnh đại diện cho sản phẩm</p>
                </div>
            </div>


            @*Album hình ảnh sản phẩm*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Album hình ảnh sản phẩm</h3>
                </div>
                <div class="card-body">
                    @Html.HiddenFor(model => model.Image)
                    <div class="text-center">
                        <a class="btn btn-info btn-flat text-white" data-toggle="modal" data-target="#uploadImage" onclick="uploadClick()">
                            <i class="fa fa-upload"></i>
                            Upload hoặc chọn hình
                        </a>
                    </div>
                    <div class="row mt-2" id="renderImage">

                    </div>
                    <p class="my-2 font-italic small text-center">Bạn có thể chọn 1 hoặc nhiều hình để hiển thị trên trang sản phẩm</p>
                </div>
            </div>

        </div>
    </div>
}
<div class="modal fade" id="uploadImage" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content rounded-0">
            <div class="modal-header border-0">
                <h4 class="card-title font-weight-bold">Ảnh sản phẩm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body py-0">
                <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active rounded-0 py-1 px-2" id="upload-tab" data-toggle="pill" href="#upload" role="tab" aria-controls="upload" aria-selected="true">Tải lên tập tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded-0 py-1 px-2" id="upload-tab" data-toggle="pill" href="#library" role="tab" aria-controls="library" aria-selected="false">Thư viện</a>
                    </li>
                </ul>
                <div class="tab-content" id="upload-tabContent">
                    <div class="tab-pane fade active show p-4" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <!-- Our markup, the important part here! -->
                                <div id="drag-and-drop-zone" class="dm-uploader p-5">
                                    <h3 class="mb-5 mt-5 text-muted">Click vào bên dưới để chọn hình</h3>

                                    <div class="btn btn-primary btn-block mb-5">
                                        <span>Chọn Hình ảnh từ máy tính</span>
                                        <input name="File" id="File" accept=".JPG,.JPEG,.PNG,.GIF" type="file" title='Click để chọn hình' />
                                    </div>
                                </div><!-- /uploader -->

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="card h-100 rounded-0">
                                    <div class="card-header">
                                        Thông tin
                                    </div>

                                    <ul class="list-unstyled p-2 d-flex flex-column col" id="files">
                                        <li class="text-muted text-center empty">Chưa có hình để đăng.</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- /file list -->
                        <script type="text/html" id="files-template">
                            <li class="media">
                                <div class="media-body mb-1">
                                    <p class="mb-2">
                                        <strong>%%filename%%</strong><br />Trạng thái: <span class="text-muted">Đang đăng ...</span>
                                    </p>
                                    <div class="progress mb-2">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                             role="progressbar"
                                             style="width: 0%"
                                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                    <hr class="mt-1 mb-1" />
                                </div>
                            </li>
                        </script>
                    </div>
                    <div class="tab-pane fade p-4" id="library" role="tabpanel" aria-labelledby="library-tab">
                        <div id="renderLibrary">

                        </div>
                        <div class="clearfix">
                            <div class="float-left">
                                <a href="#" class="btn btn-primary btn-flat btn-sm">< Trang trước</a>
                            </div>
                            <div class="float-right">
                                <a href="#" class="btn btn-primary btn-flat btn-sm">Trang sau ></a>
                            </div>
                        </div>
                        <div id="loadingGif">
                            <div class="position-relative h-100 w-100">
                                <div class="loadingio-spinner-spinner-0g9wfi70d3hr">
                                    <div class="ldio-dmto02pujx">
                                        <div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer py-1">
                <a class="btn btn-info text-white float-right btn-sm btn-flat" id="submitModalImage">Thiết lập ảnh sản phẩm</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section Scripts {
    <script>
        var tagInputResult = [];
        var tagId = [];
        var id = 0;

    </script>
    <script src="~/Scripts/Admin/product.js"></script>
}
