@{
    ViewBag.Title = "Thông Tin Chung";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="information" id="adminPage">
    <div class="row row-flex mb-5">
        <div class="col-md-4">
            <div class="card h-100" id="renderLogoPartial">
                @Html.Action("LoadEditLogo", "Admin")
            </div>
            <div id="updateLogo-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
        <div class="col-md-4">
            <div class="card position-relative h-100" id="renderContact">
                @Html.Action("LoadEditContact", "Admin")
            </div>
            <div id="updateContact-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100" id="renderSocial">
                @Html.Action("LoadEditSocial", "Admin")
            </div>
            <div id="updateSocial-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
    </div>
    <div class="row row-flex mb-5">
        <div class="col-md-4">
            <div class="card h-100" id="renderMenuFooter1">
                @Html.Action("LoadMenuFooter", "Admin", new { type = 1 })
            </div>
            <div id="updateMenuFooter1-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100" id="renderMenuFooter2">
                @Html.Action("LoadMenuFooter", "Admin", new { type = 2 })
            </div>
            <div id="updateMenuFooter2-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100" id="renderMenuFooter3">
                @Html.Action("LoadMenuFooter", "Admin", new { type = 3 })
            </div>
            <div id="updateMenuFooter3-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <div class="card" id="renderEditSlider">
                @Html.Action("LoadEditSlider", "Admin", new { type = 1 })
            </div>
            <div id="updateSlider-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100" id="renderProductHomePage">
                @Html.Action("LoadProductHomePage", "Admin")
            </div>
            <div id="updateProductHomePage-Loading" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
    </div>
    <div class="position-relative h-100 w-100">
        <div class="card" id="renderFooterContact">
            @Html.Action("LoadFooterContact", "Admin")
        </div>
        <div id="updateFooterContact-Loading" class="spinner-loading" style="display: none;">
            <img src="~/Content/Spinner.png" alt="Loading..." />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admin/information")

}

