@using PagedList;
@using PagedList.Mvc;
@model IPagedList<TheGioiLoa.Models.Order>
@{
    ViewBag.Title = "Đơn Hàng";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <a href="@Url.Action("CreateNewOrder")" class="btn btn-success">Thêm đơn hàng mới</a>
        <div class="float-right">
            <form class="form-inline">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar bg-light" style="border-color: #e3e3e3;" type="search" placeholder="Tìm Kiếm" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar bg-light" style="border-color:#e3e3e3" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-body p-0" style="display: block;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="" style="width: 20%">
                        Mã đơn
                    </th>
                    <th style="width: 10%">
                        Ngày
                    </th>
                    <th class="text-center" style="width: 15%">
                        Tình trạng
                    </th>
                    <th class="text-right" style="width: 13%">
                        Tổng
                    </th>
                    <th class="text-center" style="width: 13%">
                        Hành động
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="text-info" href="@Url.Action("OrderDetails","Admin", new {orderId = item.OrderId })" data-toggle="tooltip" title="@item.OrderId">@item.UserName</a>
                        </td>
                        <td>
                            @item.DateCreated
                        </td>
                        <td class="text-center">
                            @if (item.Status == 1)
                            {
                                <span class="badge badge-warning">Đang xử lý</span>
                            }
                            else if (item.Status == 2)
                            {
                                <span class="badge badge-primary">Đang giao hàng</span>
                            }
                            else if (item.Status == 3)
                            {
                                <span class="badge badge-success">Hoàn tất</span>
                            }
                        </td>
                        <td class="text-right">
                            @string.Format("{0:0,0 ₫}", item.TotalSalePrice)
                        </td>
                        <td class="text-center">
                            Hành động
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-right px-4">
            @Html.PagedListPager(Model, indexPage => Url.Action("Order", new { page = indexPage }))
        </div>
    </div>
</div>
