@model IEnumerable<TheGioiLoa.Models.ViewModel.ProductViewModel>

@{
    ViewBag.Title = "Danh Sách Sản Phẩm";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="row" id="adminPage">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <a href="@Url.Action("CreateProduct")" class="btn btn-success">Thêm sản phẩm mới</a>
                <div class="float-right">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar bg-light" style="border-color: #e3e3e3;" type="search" placeholder="Tìm Kiếm" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar bg-light" style="border-color:#e3e3e3" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="card-body p-0" style="display: block;">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th style="width: 3%">
                                STT
                            </th>
                            <th style="width: 5%">
                                <i class="fa fa-image"></i>
                            </th>
                            <th style="width: 15%">
                                Tên sản phẩm
                            </th>
                            <th style="width: 13%">
                                Giá
                            </th>
                            <th style="width: 13%">
                                Giá khuyến mãi
                            </th>
                            <th>
                                Danh mục
                            </th>
                            <th style="width: 8%">
                                Trạng thái
                            </th>
                            <th style="width: 10%">
                                Hành động
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center">
                                @item.ProductId
                            </td>
                            <td class="text-center">
                                <img alt="@item.Name" class="" src="../Content/Upload/Images/@item.CoverName" height="40" ; width="40">
                            </td>
                            <td>
                                <a href="@Url.Action("EditProduct", "Admin", new {productId = item.ProductId })" data-toggle="tooltip" data-placement="top" title="Xem và chỉnh sửa @item.Name">@item.Name</a>
                            </td>
                            <td class="text-center">
                                @string.Format("{0:0,0 ₫}", item.Price)
                            </td>
                            <td class="text-center">
                                @string.Format("{0:0,0 ₫}", item.PriceSale)
                            </td>
                            <td>
                                @{var i = 1;}
                                @if (item.Categories != null)
                                {
                                    foreach (var category in item.Categories)
                                    {
                                        if (i == 1)
                                        {
                                            <span>@category.Name</span>
                                            i++;
                                        }
                                        else
                                        {
                                            <span>, @category.Name</span>
                                        }
                                    }
                                }
                            </td>
                            <td class="text-center">
                                @if (item.Status == 1)
                                {
                                    <span class="badge badge-success">Đã đăng</span>
                                }
                                else if (item.Status == 2)
                                {
                                    <span class="badge badge-dark">Chưa đăng</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Hết hàng</span>
                                }
                            </td>
                            <td class="text-center">
                                <a class="" href="~/cua-hang/san-pham/@item.ProductId/@item.Url" data-toggle="tooltip" title="Xem" target="_blank">
                                    <i class="fas fa-eye text-info">
                                    </i>
                                </a>
                                <a class="ml-1" href="@Url.Action("EditProduct", "Admin", new {productId = item.ProductId })" data-toggle="tooltip" title="Sửa">
                                    <i class="fas fa-pencil-alt text-warning">
                                    </i>
                                </a>
                                <a class="ml-1 delete-product" href="#" data-id="@item.ProductId" data-name="@item.Name" data-toggle="tooltip" title="Xóa">
                                    <i class="fas fa-trash text-danger">
                                    </i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 
@section Scripts {
    <script type="text/javascript" language="JavaScript">
        $(".delete-product").click(function () {
            var productId = $(this).attr("data-id");
            var r = confirm("Bạn có muốn xóa sản phẩm '" + $(this).attr("data-name") + "' này không?");
            if (r == true) {
                $.ajax({
                    method: "POST",
                    url: "/Admin/DeleteProduct",
                    data: { productId: productId },
                    success: function (data) {
                        if (data.status == "success") {
                            toastr.success(data.message);
                            loadBlogList();
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                })
            }
        })
    </script>
    }
