@model TheGioiLoa.Models.Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var status = "";
    switch (Model.Status)
    {
        case 1:
            status = "Còn hàng";
            break;
        case 3:
            status = "Tạm hết hàng";
            break;
        default:
            status = "";
            break;
    }
}
@section heads {
    <style>
        body {
            background: #f3f5f7;
        }
    </style>
}
<div id="orderLoading" class="spinner-loading position-fixed" style="display: none">
    <img src="/Content/Spinner.png" alt="Loading...">
</div>
<div class="container">
    <div class="bg-white rounded p-3">
        <nav aria-label="breadcrumb" class="d-none d-md-block">
            <ol class="breadcrumb m-0 ml-auto px-0 bg-white">
                <li class="breadcrumb-item"><a href="~/"> Trang Chủ</a></li>
                <li class="breadcrumb-item"><a href="~/cua-hang/"> Cửa Hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
            </ol>
        </nav>
        <div class="clearfix pt-2">
            <div class="product-title float-left">
                <h5 class="mb-0 d-inline-block">@Model.Name</h5>
                <div class="product-review d-inline-block">
                    <span class="product-star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span class="feedback-write text-dark">(Viết đánh giá)</span>
                    </span>
                </div>
            </div>
            <div class="social-button float-right">
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fthegioiamthanh.vn&width=151&layout=button_count&action=like&size=small&share=true&height=46&appId=2347493918804034" width="151" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-5">
                <div class="gallery">
                    <div class="gallery__img-block">
                        <img src="~/Content/Upload/Images/@(Model.ImageId==null?"No_Picture.jpg":Model.ImageId)" thumb-url="~/Content/Upload/Images/@(Model.ImageId==null?"No_Picture.jpg":Model.ImageId)">
                    </div>
                    @if (Model.Product_Images.Count != 0)
                    {
                        foreach (var item in Model.Product_Images)
                        {
                            <div class="gallery__img-block">
                                <img src="~/Content/Upload/Images/@item.ImageId" thumb-url="~/Content/Upload/Images/@item.ImageId">
                            </div>

                        }
                    }
                    <div class="gallery__controls">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="product-price">
                    @if (Model.PriceSale != null)
                    {
                        <h3 class="text-primary font-weight-bold mb-1">
                            @string.Format("{0:0,0 ₫}", Model.PriceSale)
                            <del class="price-sale">@string.Format("{0:0,0 ₫}", Model.Price)</del>
                        </h3>
                    }
                    else
                    {
                        <h3 class="text-primary font-weight-bold mb-1">@((Model.Price != null) ? string.Format("{0:0,0 ₫}", Model.Price) : "Đang cập nhật")</h3>
                    }
                </div>
                <p class="text-dark">Tình trạng: <span class="text-success">@status</span></p>

                <div class="product-services mb-4">
                    @Html.Raw(Model.Description)
                </div>
                <div class="product-promotion border-dark-50 py-4 px-2 rounded border position-relative">
                    <div class="position-absolute product-promotion-label">
                        <p><i class="fas fa-gift mr-2"></i>Khuyến Mãi</p>
                    </div>
                    <div class="product-promotion-picture">
                        @Html.Raw(Model.Promotion)
                    </div>

                </div>
                @if (Model.Price != null)
                {
                    <div class="buy-button my-3 row">
                        <div class="col-md-6 col-6">
                            <a href="#" class="btn btn-primary add-to-cart" data-id="@Model.ProductId">MUA NGAY<br /><span class="small font-weight-normal mt-0">Giao hàng tận nơi</span></a>
                        </div>
                        <div class="col-md-6 col-6">
                            <a href="#" class="btn btn-warning">MUA TRẢ GÓP<br /><span class="small font-weight-normal mt-0">Công ty, Thẻ tín dụng</span></a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <div class="service-right card card-shadow">
                    <div class="card-body">
                        <h6 class="font-weight-500 text-center text-success mb-3">YÊN TÂM MUA SẮM</h6>
                        @Html.Raw(Model.Services)
                    </div>
                </div>
                @Html.Action("GetHotline", "Product")
            </div>
        </div>
    </div>
</div>
<div class="container">
    @*@if (Model.ProductRelateds != null)
    {
        <div id="productRelateds" class="mt-3">
            <h4 class="font-weight-bold mb-3 mt-4"><i class="fas fa-star text-warning mr-2"></i>Sản phẩm dành cho bạn</h4>
            <div class="mt-2" id="productRelatedsContent">

                <div class="row m-0">
                    @foreach (var item in Model.ProductRelateds)
                    {
                        <div class="w-20 p-0 col-6">
                            <div class="producthome-item">
                                <a class="rounded" href="~/cua-hang/san-pham/@item.ProductId/@item.Url">
                                    <img src="~/Content/Upload/Images/@item.Cover" style="width: 100%" />
                                    <h3>@item.Name</h3>
                                    @if (item.Status == 1)
                                    {
                                        if (item.PriceSale != null)
                                        {
                                            <strong class="price-sale">@string.Format("{0:0,0 ₫}", item.PriceSale)</strong>
                                            <del class="price">@string.Format("{0:0,0 ₫}", item.Price)</del>
                                        }
                                        else
                                        {
                                            <strong class="price-sale">@(item.Price != null ? string.Format("{0:0,0 ₫}", item.PriceSale) : "Đang cập nhật")</strong>
                                        }
                                    }
                                    else
                                    {
                                        <p class="text-danger small">Tạm hết hàng</p>
                                    }
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }*@
</div>
<div class="container mt-3">
    <div class="product-info-header position-sticky d-none d-md-block">
        <a href="#productCharacteristics" class="scrollto">TÍNH NĂNG/THÔNG SỐ KỸ THUẬT</a>
        <a href="#productCharacteristics" class="scrollto">MÔ TẢ</a>
        <a href="#productCommentAndReview" class="scrollto">BÌNH LUẬN</a>
        <a href="#productCommentAndReview" class="scrollto" id="gotoReview">ĐÁNH GIÁ</a>
    </div>
    <div class="bg-white p-3">
        <div class="product-info mt-4 h-100">
            <div class="product-info-content bg-white">
                <div id="productDetails" class="mt-3">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="~/Content/Upload/Images/@(Model.ImageId==null?"No_Picture.jpg":Model.ImageId)" style="width: 100%;" />
                        </div>
                        <div class="col-md-5">
                            <h3 class="px-5 mt-3 productDetails-title">Thông số kỹ thuật</h3>
                            <div class="px-5 text-area-render" id="productDetailsContent">
                                @Html.Raw(Model.Specifications)
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div id="productCharacteristics">
                    <div class="mt-2 text-area-render" id="productCharacteristicsContent" style="max-height: 700px; overflow-y: hidden">
                        @Html.Raw(Model.Contents)
                    </div>
                    <div class="btn-more text-center mt-4" style="display: none;">
                        <button class="btn btn-outline-info px-5">Xem thêm mô tả</button>
                    </div>
                </div>
                <div class="row mt-4" id="productCommentAndReview">
                    <div class="col-md-7">
                        <h6 class="font-weight-bold title">BÌNH LUẬN - NHẬN XÉT</h6>
                        <div class="mt-2">
                            <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="650" data-numposts="7"></div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h6 class="font-weight-bold title">CHI TIẾT ĐÁNH GIÁ</h6>
                        <div class="mt-2" id="reviewContent">
                            <div class="reviewPartial" id="reviewPartial" data-id="@Model.ProductId">
                                @Html.Action("LoadReview", "Product", new { productId = Model.ProductId })
                            </div>
                            <div id="reviewForm">
                                @Html.Action("AddReview", "Product", new { productId = Model.ProductId })
                            </div>
                            <div id="loadingGif-reviewContent" class="spinner-loading" style="display: none;">
                                <img src="~/Content/Spinner.png" alt="Loading..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var $gallery = $('.gallery');

            $gallery.vitGallery({
                debag: true,
                thumbnailMargin: 5,
                fullscreen: false,
                description: false,
                animateSpeed: 600
            })
            $(".rating").rating();

            var productCharacteristicsContent = $("#productCharacteristicsContent");
            if (productCharacteristicsContent.innerHeight() >= 700) {
                $(".btn-more").show();
            }
        })

        $(".btn-more").click(function () {
            var elm = $(this);
            elm.hide();
            $("#productCharacteristicsContent").css("max-height", "100%");
        })

        var image;
        function changeImageCover(e) {
            $("#imageCover").animate({ left: '100%' }, 0);

            image = $(e).attr("data-name");
            setTimeout(changeImg, 200);

        };

        function changeImg() {
            $("#imageCover").css("background-image", "url('../Content/Upload/Images/" + image + "')");
            $("#imageCover").animate({ left: '0' }, 0);
        };

        $(function () {
            $(".add-to-cart").click(function () {
                $("#orderLoading").show();
                pid = $(this).attr("data-id");
                $.ajax({
                    method: "POST",
                    url: "/Cart/Add",
                    data: { productId: pid },
                    success: function () {
                        window.location = "../../../Cart";
                    }
                });
            });
        });
        function sendReviewSuccess(data) {
            if (data.status == "success") {
                toastr.success(data.message);
                $.ajax({
                    method: "GET",
                    url: "/Product/LoadReview",
                    data: { productId: $("#reviewPartial").data("id") },
                    success: function (data) {
                        $("#reviewPartial").html(data);
                        exitSpinner('#loadingGif-reviewContent');
                    }
                })
            }
            else {
                toastr.error(data.error);
                exitSpinner('#loadingGif-reviewContent');
            }
        }
    </script>
}
