@model TheGioiLoa.Models.ViewModel.ListImageViewModel

@if (Model.IsMultiple)
{
    foreach (var item in Model.ImageList)
    {
        <div class="col-md-2">
            <div class="image-box ratio-1-1">
                <a class="image image-item"
                   data-name="@item.ImageId"
                   style="background-image: url('../Content/Upload/Images/@item.ImageId');"
                   onclick="@(item.IsSelected?"removeImageFromList(this)":"addImageToList(this)")"
                   data-selected="@(item.IsSelected?"True":"False")">
                    <span id="check-@item.ImageId" class="position-absolute @(item.IsSelected?"":"d-none")" style="top: 5px; right: 5px">
                        <i class="fas fa-check bg-info text-white p-1" style="border-radius: 99px;"></i>
                    </span>
                </a>
            </div>
        </div>
    }
}
else
{
    foreach (var item in Model.ImageList)
    {
        <div class="col-md-2">
            <div class="image-box ratio-1-1">
                <a class="image image-item"
                   data-name="@item.ImageId"
                   style="background-image: url('../Content/Upload/Images/@item.ImageId');"
                   onclick="@(item.IsSelected?"removeSelectedImage(this)":"selectImage(this)")"
                   data-selected="@(item.IsSelected?"True":"False")">
                    <span id="check-@item.ImageId" class="position-absolute @(item.IsSelected?"":"d-none")" style="top: 5px; right: 5px">
                        <i class="fas fa-check bg-info text-white p-1" style="border-radius: 99px;"></i>
                    </span>
                </a>
            </div>
        </div>
    }
}
