@*@using TheGioiLoa.Models
    @model LoginViewModel*@
@{
    var menuClass = "menu-not-expand";
    if (ViewBag.IsMenuExpand == true)
    {
        menuClass = "menu-expand";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thế Giới Loa</title>
    <meta content="" name="thegioiloa">
    <meta content="" name="thuong hieu am thanh so 1">
    <!-- Favicons -->
    <link href="~/Content/Home/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    @Styles.Render("~/Content/BootstrapCss")
    @Styles.Render("~/Content/HomeCss")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("heads", required: false)

</head>
<body>
    @*<div id="preloader" class="spinner-loading bg-white position-fixed">
        <img src="/Content/Spinner.png" alt="Loading...">
    </div>*@

    @*<nav class="navbar navbar-expand navbar-inverse flex-column flex-md-row bd-navbar py-0 header-top d-none d-lg-block">
            <div class="container text-white">
                <div class="navbar-nav-scroll mr-auto">
                    @Html.Action("MenuTop", "Home")
                </div>
                <div class="navbar-nav-scroll ml-auto" id="Login">
                    <ul class="navbar-nav bd-navbar-nav flex-row small">
                        <li class="nav-item py-2">
                            <a class="nav-link text-white py-0 border-right" href="#dang-ky" data-target="#registerModal" data-toggle="modal">Đăng ký</a>
                        </li>
                        <li class="nav-item py-2">
                            <a class="nav-link text-white py-0" href="#dang-nhap" data-target="#loginModal" data-toggle="modal">Đăng Nhập</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <nav class="navbar navbar-expand-sm navbar-light bg-primary py-md-4" id="navbarMain">
        <div class="container py-md-1 py-0">
            <div class="row align-items-center w-md-100">
                <div class="col-2 order-1 d-md-none">
                    <button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target="#menuCategory" aria-controls="menuCategory" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-list"></i>
                    </button>
                </div>
                <div class="col-md-3 col-5 order-2 px-1 hidetop">
                    <a href="~/" class="navbar-brand text-white h1 mb-0">
                        @*<img src="~/Content/Home/img/logo.png" alt="" class="img-fluid">*@
                        THEGIOILOA.NET
                    </a>
                </div>
                <div class="col-md-4 order-4 order-md-3 col-12 pt-2 pt-md-0" id="searchBar">
                    <div class="input-group">
                        <input type="text" class="form-control border-warning search-bar-input" placeholder="Nhập từ khóa tìm kiếm ...">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button">
                                <i class="fas fa-search text-white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-5 order-3 order-md-4" id="mainNav-right">
                    <div class="row align-items-center m-0">
                        <div class="col-4 col-md-3 p-0 text-left order-2 oorder-md-1">
                            <a href="~/Cart" class="text-white">
                                <i class="fas fa-shopping-cart position-relative">
                                    <span id="miniCartCount" class="bg-warning text-dark">
                                        @TheGioiLoa.Models.ShoppingCart.Cart.Count
                                    </span>
                                </i>
                                <span class="d-none d-md-inline-block">Giỏ Hàng</span>
                            </a>
                        </div>
                        <div class="col-8 col-md-3 p-0 text-left order-1 order-md-2" id="accountLink">
                            @Html.Partial("Login/_AccountHeadPartial")
                        </div>
                        <div class="col-md-6 d-none d-md-block p-0 order-3 order-md-3">
                            @Html.Action("HeaderContact", "Home")
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </nav>
    <div class="navbar-collapse collapse" id="menuCategory">
        @Html.Action("MenuCategoryMobile", "Home")
    </div>
    <div class="header-bottom g-white border-bottom text-dark" id="headerBottom">
        <div class="container">
            <div class="row align-items-center" id="headerBottom-row">
                <div class="col-md-3 d-none d-md-block" id="menuCategoryShow">
                    <div class="main-nav @menuClass" id="main-nav" data-homepage="@(menuClass!="menu-not-expand"?"True":"False")">
                        <div class="drop-down main-menu text-left">
                            <a href="" class="h5 px-3 font-weight-bold bg-dark" id="categoryProduct-a"><i class="fas fa-list mr-2"></i>DANH MỤC SẢN PHẨM</a>
                            @Html.Action("MenuCategory", "Home", new { isMenuExpand = true })
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center hidetop-none-mobile d-none d-md-block py-2">
                    <a href="https://www.nguyenkim.com/khuyen-mai.html"><i class="fas fa-gift mr-1"></i><span>Tổng hợp khuyến mãi</span></a>
                </div>
                <div class="col-md-3 text-center hidetop-none col-6 py-2">
                    <a href="https://www.nguyenkim.com/khuyen-mai.html"><i class="fas fa-gift mr-1"></i><span>Miễn phí dùng thử</span></a>
                </div>
                <div class="col-md-3 text-center hidetop-none col-6 py-2">
                    <a href="https://www.nguyenkim.com/khuyen-mai.html"><i class="fas fa-gift mr-1"></i><span>Tặng 1 năm bảo hành</span></a>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="mt-4">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-title">
                            <h3 class="text-primary m-0">FACEBOOK</h3>
                            <hr class="mt-1 mb-3" />
                        </div>
                        <div class="social-facebook" id="renderFacebook">
                            @*@Html.Action("LoadSocial", "Home", new { social = "Facebook" })*@
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="footer-title">
                            <h3 class="text-primary m-0">YOUTUBE</h3>
                            <hr class="mt-1 mb-3" />
                        </div>
                        <div class="social-youtube" id="renderYoutube">
                            @*@Html.Action("LoadSocial", "Home", new { social = "Youtube" })*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-title">
                            <h3 class="text-primary m-0">HỖ TRỢ KHÁCH HÀNG</h3>
                            <hr class="mt-1 mb-3" />
                        </div>
                        <div class="footer-support p-2 border pb-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="support">
                                        <p class="support-place">Showroom Hà Nội</p>
                                        <a href="tel:0888836006" class="support-contact"><span>KD Hà Nội:</span> 088.883.6006</a>
                                    </div>
                                    <div class="support">
                                        <p class="support-place">Showroom Hà Nội</p>
                                        <a href="tel:0888836006" class="support-contact"><span>KD Hà Nội:</span> 088.883.6006</a>
                                    </div>
                                    <div class="support">
                                        <p class="support-place">Showroom Hà Nội</p>
                                        <a href="tel:0888836006" class="support-contact"><span>KD Hà Nội:</span> 088.883.6006</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="support">
                                        <p class="support-place">Showroom Hà Nội</p>
                                        <a href="tel:0888836006" class="support-contact"><span>KD Hà Nội:</span> 088.883.6006</a>
                                    </div>
                                    <div class="support">
                                        <p class="support-place">Showroom Hà Nội</p>
                                        <a href="tel:0888836006" class="support-contact"><span>KD Hà Nội:</span> 088.883.6006</a>
                                    </div>
                                    <div class="support">
                                        <p class="support-place">Showroom Hà Nội</p>
                                        <a href="tel:0888836006" class="support-contact"><span>KD Hà Nội:</span> 088.883.6006</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row" id="footer-midle-content">
                    @Html.Action("FooterMiddlePartial", "Home")
                </div>
                <hr style="border-color: #808080" />
                <div class="row align-items-center">
                    <div class="col-md-7" id="renderGoolgeMap">

                    </div>
                    <div class="col-md-5">
                        @Html.Action("FooterContact", "Home")
                        <div class="footer-newsletter">
                            <h4 class="mb-1 text-light">NHẬN BẢN TIN KHUYẾN MÃI</h4>
                            <div class="form-inline text-right">
                                <div class="form-group mb-2">
                                    <label for="PromotionEmail" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="PromotionEmail" placeholder="Nhập Email của bạn ...">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Gửi ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Action("FooterCopyright", "Home")
    </footer><!-- #footer -->

    <div class="position-fixed" style="bottom: 40px; right: 0;">
        @Html.Action("LoadSocial", "Home", new { social = "Zalo" })
    </div>
    <a id="back-to-top" href="#" class="btn btn-lg btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <i class="fas fa-chevron-up"></i>
    </a>

    @Scripts.Render("~/bundles/bootstrap-jquery")
    @Scripts.Render("~/bundles/jshome")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="loginModal" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog" style="min-height: 100px;">
                <div class="modal-content" id="loginModalContent">
                    <div class="container pt-4 pb-2">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#login">Đăng Nhập</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" data-toggle="tab" href="#register">Đăng Ký</a>
                            </li>
                        </ul>
                        <div class="tab-content px-4 pt-5 pb-3">
                            <div id="login" class="tab-pane active">
                                @Html.Action("LoadLoginPartial", "Home")
                            </div>
                            <div id="register" class="tab-pane">
                                @Html.Action("LoadRegisterPartial", "Home")
                            </div>
                        </div>
                    </div>
                    <div id="modal-account-loading" class="spinner-loading" style="display: none;">
                        <img src="~/Content/Spinner.png" alt="Loading..." />
                    </div>
                    <button class="btn btn-outline-danger btn-sm position-absolute border-0" data-dismiss="modal" style="top: 15px; right: 10px;"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function loginBegin() {
                $("#modal-account-loading").show();
            }
            function loginSuccess(data) {
                if (data.status == "success") {
                    toastr.success(data.message);
                    $("#loginModal").modal("hide");
                    $.ajax({
                        method: "GET",
                        url: "Home/LoadHeadAccount",
                        success: function (data) {
                            $("#accountLink").html(data);
                            $("#loginModal").html("");
                        }
                    })
                }
                else {
                    toastr.error(data.message);
                    $("#modal-account-loading").hide();
                }
            }
        </script>
    }
    <script>
        $(document).ready(function () {
            var win = $(window);
            var scroll = true;
            // Each time the user scrolls
            win.scroll(function () {
                if (($("#renderFacebook").offset().top < (win.scrollTop() + win.height() + 500)) && (scroll)) {
                    $.ajax({
                        url: '/Home/LoadSocial',
                        data: { social: "Facebook" },
                        success: function (data) {
                            $('#renderFacebook').html(data);
                        }
                    });
                    $.ajax({
                        url: '/Home/LoadSocial',
                        data: { social: "Youtube" },
                        success: function (data) {
                            $('#renderYoutube').html(data);
                        }
                    });
                    $.ajax({
                        url: '/Home/LoadGoogleMap',
                        success: function (data) {
                            $('#renderGoolgeMap').html(data);
                        }
                    });
                    scroll = false;
                }
            });
        });

    </script>
</body>
</html>
