@model TheGioiLoa.Models.ViewModel.ProductHomePageViewModel
@{
    var childCategoryCount = 0;
}
@if (Model.Product != null)
{
    <div class="container mt-4">
        <div class="row">
            <div class="@(Model.Id != 2?"col-md-12":"col-md-8")">
                <div class="bg-white">
                    <div class="product-header row">
                        <div class="col-md-3 col-12">
                            <h5 class="product-header-title float-left">@Model.Category.Name</h5>
                            <button class="btn btn-default d-md-none float-right" type="button" data-toggle="collapse" data-target="#categoryList_@Model.Category.CategoryId" aria-expanded="false">
                                <i class="fas fa-list"></i>
                            </button>
                        </div>

                        @if (Request.Browser.IsMobileDevice)
                        {
                            <div class="product-header-link col-md-9 col-12 mb-3">
                                <div class="collapse" id="categoryList_@Model.Category.CategoryId">
                                    @foreach (var item in Model.CategoryList)
                                    {
                                        <a href="~/cua-hang/danh-muc/@item.CategoryId/@item.Url" class="product-header-link-a d-block">@item.Name</a>
                                        childCategoryCount++;
                                        if (childCategoryCount > 3)
                                        {
                                            break;
                                        }
                                    }
                                    <a href="~/cua-hang/danh-muc/@Model.Category.CategoryId/@Model.Category.Url" class="product-header-link-a d-block">Xem tất cả</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="product-header-link col-md-9" style="max-height: 40px; overflow-y: hidden">
                                <div class="clearfix">
                                    <a href="~/cua-hang/danh-muc/@Model.Category.CategoryId/@Model.Category.Url" class="product-header-link-a float-right" style="padding: .8rem .6rem;">Xem tất cả</a>
                                    @foreach (var item in Model.CategoryList)
                                    {
                                        <a href="~/cua-hang/danh-muc/@item.CategoryId/@item.Url" class="product-header-link-a float-right" style="padding: .8rem .6rem;">@item.Name</a>
                                        childCategoryCount++;
                                        if (childCategoryCount > 3)
                                        {
                                            break;
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row homeproduct m-0">
                        @if (Model.Id == 6)
                        {
                            <div class="col-md-6">
                                <div class="karaoke-video">
                                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/@Model.LinkYoutube" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        }
                        @foreach (var item in Model.Product)
                        {
                            <div class="col-md-3 @(Model.Count == 10 ? "w-20" : "") producthome-item col-6">
                                <a href="~/cua-hang/san-pham/@item.ProductId/@item.Url">
                                    @if (Model.Id == 1)
                                    {
                                        <img src="../Content/Upload/Images/@item.Cover" style="width: 100%" />
                                    }
                                    else
                                    {
                                        <img class="lazy" data-src="../Content/Upload/Images/@item.Cover" style="width: 100%" />
                                    }
                                    <h3>@item.Name</h3>
                                    <div class="text-center">
                                        @if (item.PriceSale != null)
                                        {
                                            <strong class="price">@string.Format("{0:0,0 ₫}", item.PriceSale)</strong>
                                            <del class="price-sale">@string.Format("{0:0,0 ₫}", item.Price)</del>
                                        }
                                        else
                                        {
                                            <strong class="price">@string.Format("{0:0,0 ₫}", item.Price)</strong>
                                        }
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (Model.Id == 2)
            {
                <div class="col-md-4 pt-3 pt-md-0">
                    <div class="blog bg-white">
                        <div class="blog-header bg-primary text-white py-2 px-2">
                            <h6 class="font-weight-bold m-0 mt-1 float-left">Tin Tức - Công Nghệ</h6>
                            <a href="/tin-tuc/danh-muc/0/tat-ca-danh-muc" class="text-white float-right view-all px-2 py-1 rounded">Xem Thêm <i class="fas fa-angle-double-right"></i></a>
                            <div style="clear: both"></div>
                        </div>
                        <div class="blog-content border">
                            @Html.Action("GetBlogHome", "Home")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
