@model TheGioiLoa.Models.ViewModel.FooterViewModel
<div class="col-md-3 footer-links">
    <div class="footer-title">
        <h4>Thông tin công ty</h4>
    </div>
    <ul>
        @foreach (var item in Model.Footer1)
        {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
</div>
<div class="col-md-3 footer-links">
    <div class="footer-title">
        <h4>Chính sách</h4>
    </div>
    <ul>
        @foreach (var item in Model.Footer2)
        {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
</div>
<div class="col-md-3 footer-links">
    <div class="footer-title">
        <h4>Hỗ trợ khách hàng</h4>
    </div>
    <ul>
        @foreach (var item in Model.Footer3)
        {
            <li><a href="@item.Url">@item.Name</a></li>
        }
    </ul>
</div>
<div class="col-md-3 footer-links">
    <div class="footer-title">
        <h4>Thông tin thanh toán</h4>
    </div>
    <div class="payment pl-2">
        <a href="#" class="text-dark"><i class="fab fa-cc-visa"></i></a>
        <a href="#" class="text-dark"><i class="fab fa-cc-mastercard"></i></a>
        <a href="#" class="text-dark"><i class="fas fa-credit-card"></i></a>
        <a href="#" class="text-dark"><i class="fas fa-money-check-alt"></i></a>
    </div>
    <div class="business-register">
        <img width="150" src="~/Content/Home/img/register-business.png" />
    </div>
</div>
