@model IEnumerable<TheGioiLoa.Models.ViewModel.BlogViewModel>
@{
    ViewBag.Title = "Tin Tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section heads {
    <style>
        body {
            background: #f9f9f9;
        }
    </style>
}
<div class="container mt-4 mb-4" id="pageBlog">
    <div class="row">
        <div class="col-md-9">
            <div class="card card-shadow">
                <div class="card-body">
                    <h3 class="page-title">Tin Tức</h3>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="row blog-content-list align-items-center">
                                <div class="col-md-4 px-0">
                                    <div class="image-box ratio-16-9 h-100 my-auto">
                                        <a href="/Home/Houses?location=H%C3%A0%20N%E1%BB%99i"
                                           class="image image-big blog-list-image"
                                           style="background-image: url('../../Content/Upload/Images/@item.Cover');">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <a href="#">
                                        <h3 class="blog-list-tile">@item.Title</h3>
                                    </a>
                                    <p class="blog-time-created">@item.DateCreated.ToString("dd/MM/yyyy, HH:mm tt")</p>
                                    <p class="blog-description">@item.Description</p>
                                    <a href="" class="float-right">Xem Thêm</a>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-shadow">
                <div class="card-body">
                    @Html.Action("CategorySidebar", "Blog")
                    @Html.Action("NewestProductSidebar", "Product")
                </div>
            </div>
        </div>
    </div>
</div>

