@model TheGioiLoa.Models.Product
@{
    ViewBag.Title = "Thêm sản phẩm mới";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
@using (Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id="ProductForm"  }))
{
    <p class="text-danger">@ViewBag.NotiPrice</p>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger mt-2" })
            </div>
            @*Mô tả ngắn*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Đặc điểm nổi bật</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Description, new { @class = "textarea text-area-0", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Dữ liệu sản phẩm</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.BrandId, new { @class = "col-md-2 col-form-label-sm" })
                        <div class="col-md-10">
                            <select name="BrandId" id="BrandId" class="form-control form-control-sm">
                                <option value="">-- Không có thương hiệu --</option>
                                @if (ViewBag.BrandId != null)
                                {
                                    foreach (var item in ViewBag.BrandId)
                                    {
                                        <option value="@item.BrandId">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Price, new { @class = "col-md-4 col-form-label-sm" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.PriceSale, new { @class = "col-md-4 col-form-label-sm text-md-right" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PriceSale, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Thông số kỹ thuật*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thông số kỹ thuật</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Specifications, new { @class = "textarea text-area-2", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            @* Khuyến Mãi *@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Mô tả</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Contents, new { @class = "textarea text-area-3", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            @* Dịch vụ *@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Dịch vụ</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Services, new { @class = "textarea text-area-3", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

            @* Khuyến Mãi *@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Khuyến mãi</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    @Html.TextAreaFor(model => model.Promotion, new { @class = "textarea text-area-3", @rows = "3", @placeholder = "Nhập mô tả ngắn ở đây ..." })
                </div>
            </div>

        </div>
        <div class="col-md-3">
            @*Submit Form Card*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Đăng</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-8">
                            <select name="Status" id="Status" class="form-control form-control-sm">
                                <option value="1" checked>Công bố</option>
                                <option value="2">Chưa đăng</option>
                                <option value="3">Hết hàng</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button type="submit" id="submitFormButton" class="btn btn-success btn-flat btn-sm btn-block">Tạo Sản Phẩm</button>
                        </div>
                    </div>
                </div>
            </div>

            @*Danh Mục Sản Phẩm*@
            <div class="card" id="createProduct">
                <div class="card-header">
                    <h3 class="card-title">Danh Mục Sản Phẩm</h3>
                </div>
                <div class="card-body" id="categoryList">
                    @if (ViewBag.CategoryId != null)
                    {
                        foreach (var item in ViewBag.CategoryId)
                        {
                            if (item.CategoryParentId == null)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input category-click" data-level="parent" type="checkbox" id="@item.CategoryId" value="@item.CategoryId" name="CategoryId">
                                    <label for="@item.CategoryId" class="custom-control-label font-weight-normal">@item.Name</label>
                                </div>

                                <div class="parentCategory-@item.CategoryId" style="display: block;">
                                    @foreach (var child in ViewBag.CategoryId)
                                    {
                                        if (child.CategoryParentId == item.CategoryId)
                                        {
                                            <div class="">
                                                <div class="custom-control custom-checkbox ml-4">
                                                    <input class="custom-control-input category-click child-category" data-level="child" data-parent-id="@item.CategoryId" type="checkbox" id="@child.CategoryId" value="@child.CategoryId" name="CategoryId">
                                                    <label for="@child.CategoryId" class="custom-control-label font-weight-normal">@child.Name</label>
                                                </div>
                                            </div>
                                            <div class="pl-4 childCategory-@child.CategoryId">
                                                @foreach (var subChild in ViewBag.CategoryId)
                                                {
                                                    if (subChild.CategoryParentId == child.CategoryId)
                                                    {
                                                        <div class="custom-control custom-checkbox ml-4">
                                                            <input class="custom-control-input category-click sub-child-category" data-level="subChild" data-parent-id="@child.CategoryId" type="checkbox" id="@subChild.CategoryId" value="@subChild.CategoryId" name="CategoryId">
                                                            <label for="@subChild.CategoryId" class="custom-control-label font-weight-normal">@subChild.Name</label>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        }
                                    }

                                </div>
                            }
                        }
                    }
                </div>
            </div>

            @*Bảo hành sản phẩm*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bảo hành</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row align-items-center">
                        <label for="Guarantee" class="col-md-7 col-form-label-sm">Thời gian bảo hành</label>
                        <div class="col-md-5">
                            <select class="form-control form-control-sm" name="Guarantee" id="Guarantee">
                                @for (int i = 1; i <= 72; i++)
                                {
                                    <option value="@i">@i tháng</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            @*Ảnh Sản Phẩm*@
            <div class="card position-relative">
                <div class="card-header">
                    <h3 class="card-title">Hình Cover sản phẩm</h3>
                </div>
                <div class="card-body">

                    <div class="preview-image w-100">
                        <img id="previewCover" src="~/Content/Upload/Images/No_Picture.jpg" style="width: 100%; height: auto;" />
                        <div class="position-absolute d-none" id="removeCover" style="top: 5px; right:10px">
                            <a class="text-primary" data-toggle="tooltip" title="Xóa hình cover" style="font-size: 19px"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>

                    <input type="text" hidden id="ImageId" name="ImageId" data-toggle="modal" data-target="#ModalTemplate" />
                    <label for="ImageId" class="btn btn-primary btn-flat mt-3 btn-block">Chọn Hình Cover</label>
                    <p class="my-2 font-italic small text-center">Hình này sẽ làm hình ảnh đại diện cho sản phẩm</p>
                </div>
            </div>


            @*Album hình ảnh sản phẩm*@
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Album hình ảnh sản phẩm</h3>
                </div>
                <div class="card-body">
                    <input type="text" hidden name="imageAlbum" id="imageAlbum" />
                    <div class="row mt-2 mx-0" id="renderImage">

                    </div>
                    <p class="my-2 font-italic small text-center">Bạn có thể chọn 1 hoặc nhiều hình để hiển thị trên trang sản phẩm</p>
                    <div class="text-center">
                        <a class="btn btn-info" id="uploadImageList" data-toggle="modal" data-target="#ModalTemplate">
                            <i class="fa fa-upload"></i>
                            Upload hoặc chọn hình
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admin/product")
}
